// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container--results-container {
  display: flex;
  align-items: center;
}

.placeholder--card-picture {
  display: inline-block;
}

.placeholder--card-info {
  display: inline-block;
  width: 500px;
  margin-left: 20px;
}

.card-image {
  height: 510px;
  width: 366px;
  border-radius: 4.75% / 3.5%;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}
